$dark-color: #343758;
$light-color: rgba(255, 255, 255, 0.87);
$accent-color: #e5007d;

:root {
  --text-color: #{$dark-color};
  --text-color-light: #ffffff50;
  --background-color: #{$light-color};

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  padding: 30rem 2rem 2rem 2rem;
}

.scroll-reveal {
  > h1 span, > p span {
    display: inline;
    color: var(--text-color-light);
    background-image: linear-gradient(90deg, var(--text-color), var(--text-color));
    background-clip: text;
    background-size: 0% 100%;
    background-repeat: no-repeat;

    animation: scrollReveal 20s linear forwards;
    animation-timeline: view();
    animation-range: contain;
  }
  > h1 span{
    animation-range-start: 10vh;
    animation-range-end: 30vh;
  }
  > p span{
    animation-range-start: 30vh;
    animation-range-end: 60vh;

  }
}

@keyframes scrollReveal {
  100% {
    background-size: 100% 100%;
  }
}


@media (prefers-color-scheme: light) {
  :root {
    --text-color: #{$dark-color};
    --background-color: #{$light-color};
    --text-color-light: #00000050;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #{$light-color};
    --background-color: #{$dark-color};
    --text-color-light: #ffffff50;
  }
}
